# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Archivos de Django
*.log
*.pot
*.pyc

# Media
media/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de VSCode
.vscode/

# Migraciones compiladas
*.sqlite3

# Archivos temporales
*.swp